*{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #494950;
    text-align: center;
}

#container{
    margin: 0 auto;
    text-align: center;
    width: 900px;
    padding: 50px 0 0 0;
}

h1{
    padding: 30px;
    font-family: Verdana;
    color: #0c0a0e;
}
p{
    font: normal 10pt Verdana;
    color: #0c0a0e;
}

#canvas{
    margin: 50px;
    background-color: #92b0b9;
    border-bottom: solid;
    border-radius: 20px;
    border-color: rgb(62, 131, 71);
    border-width: 40px;
    padding-top: 20px;
    padding-left: 20px;
    
}